In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv("/Users/taouficgandi/Desktop/boston/crime.csv",encoding = "ISO-8859-1")
data.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182024620,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,357,NaN,2018-04-02 21:45:00,2018,4,Monday,21,Part Two,CLAYBOURNE ST,42.299156,-71.072528,"(42.29915578, -71.07252754)"
1,I182024616,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,E18,502,NaN,2018-04-02 20:29:00,2018,4,Monday,20,Part Two,BYRD AVE,42.285708,-71.114583,"(42.28570817, -71.11458324)"
2,I182024615,2007,Restraining Order Violations,VIOL. OF RESTRAINING ORDER W NO ARREST,C11,347,NaN,2018-04-02 20:57:00,2018,4,Monday,20,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
3,I182024614,619,Larceny,LARCENY ALL OTHERS,C11,347,NaN,2018-04-02 19:54:00,2018,4,Monday,19,Part One,ADAMS ST,42.304974,-71.061344,"(42.30497366, -71.06134412)"
4,I182024612,802,Simple Assault,ASSAULT SIMPLE - BATTERY,B2,329,NaN,2018-04-02 20:26:00,2018,4,Monday,20,Part Two,BLUE HILL AVE,42.308970,-71.082848,"(42.30896999, -71.08284839)"

In [5]:
data.DISTRICT.unique()

array(['C11', 'E18', 'B2', 'B3', 'D4', 'E13', 'C6', 'A1', 'D14', 'A7',
       'A15', 'E5', nan], dtype=object)

In [6]:
def getLatitude(x):
    k = x.replace("(","")
    k = k.replace(")","")
    k = k.replace(" ","")
    k = k.split(',')
    k[0] = float(k[0])
#     print(k[0])
    return(k[0])

In [7]:
def getLongitude(x):
    k = x.replace("(","")
    k = k.replace(")","")
    k = k.replace(" ","")
    k = k.split(',')
    k[1] = float(k[1])
#     print(k[1])
    return(k[1])

In [8]:
getLatitude(data.iloc[1]["Location"])

42.28570817

In [9]:
data["latitude"] = data['Location']
data["latitude"] =  data["latitude"].apply(lambda x: getLatitude(x))

In [10]:
data["longitude"] = data['Location']
data["longitude"] =  data["longitude"].apply(lambda x: getLongitude(x))

In [11]:
data = data.drop(columns=["Lat","Long","Location"])
data.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,latitude,longitude
0,I182024620,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C11,357,NaN,2018-04-02 21:45:00,2018,4,Monday,21,Part Two,CLAYBOURNE ST,42.299156,-71.072528
1,I182024616,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,E18,502,NaN,2018-04-02 20:29:00,2018,4,Monday,20,Part Two,BYRD AVE,42.285708,-71.114583
2,I182024615,2007,Restraining Order Violations,VIOL. OF RESTRAINING ORDER W NO ARREST,C11,347,NaN,2018-04-02 20:57:00,2018,4,Monday,20,Part Two,HECLA ST,42.306821,-71.060300
3,I182024614,619,Larceny,LARCENY ALL OTHERS,C11,347,NaN,2018-04-02 19:54:00,2018,4,Monday,19,Part One,ADAMS ST,42.304974,-71.061344
4,I182024612,802,Simple Assault,ASSAULT SIMPLE - BATTERY,B2,329,NaN,2018-04-02 20:26:00,2018,4,Monday,20,Part Two,BLUE HILL AVE,42.308970,-71.082848